body {
	background-color: #e81176 ;
}

.hyperloophelloword {
	width: 100%;
	text-align: center;
	margin: 3em 0 3em 0;
}


.hyperloophelloword img {
	margin-bottom: 2em;
}

h1 {
	margin-top: 1em;
	color: white;
}

h4 {
	color: white;
	margin: 2em 0 1em 0;
}

h4 span.colored {
	color: #149c8e;
}

.formdiv {
	width: 50% !important;
	margin: 0 auto 0 auto;
}